<div>
  <h1><%= @user.full_name %></h1>
  <%= link_to "Delete my profile", user_path(@user), data: {confirm: 'Are you sure? This is irreversible and your data will be lost.'}, method: :delete %>
  <%= link_to "Edit my profile", edit_user_path(@user) %>
</div>

<div id='content'>
  <div id='left-col'>
    <%= image_tag @detail.headshot.url(:medium) %>
  </div>
  <div id='right-col'>
    <h3>Summary</h3>
    <p>Bio: <%= @detail.bio %></p>
    <p>Resume: <a href="<%= @detail.resume %>">Click to download resume</a></p>
    <ul>
      <li>Phone: <a href="tel:<%= @user.phone %>"><%= @user.phone %></a></li>
      <li>Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></li>
    </ul>
  </div>
</div>